section {
  width: 50%;
  margin-top: 50px;
  margin-top: 50px;
}

section .ContactDetail {
  padding: 2px;
  text-align: left;
  padding: 10px;
}

section .ContactDetail > .contact {
  text-align: center;
}

section .ContactDetail .address {
  padding-left: 25px;
  position: relative;
  width: 100%;
}

section .ContactDetail .address-item {
  display: flex;
  flex-direction: row;
}

section .ContactDetail .address-head {
  width: 65px;
  text-align: right;
  align-items: flex-end;
  margin-right: 10px;
}

section .ContactDetail .address .icon {
  align-self: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-100%);
}
